.grid-Container{
    padding: 10px ;
    display: flex;
    flex 1;
    flex-direction: column;
    justify-content: space-around;
    align-items:space-around;
    border:2px solid red;
    height: 400px;
    width: 400px;
}

.row  {
    display:flex;
    //gap: 1px;
    flex:1; 
   // border:3px solid orange;
    box-sizing:border-box
}

.cell  {
    flex:1; 
   border:1px solid blue;
   background-color: skyblue;
    box-sizing:border-box
    
}


//for etching function (not working)
.content:hover button{
    background-color: rgb(54, 54, 54);
  }

  button{
font-size: 14px;
background-color:gray;
border: none; 
border-radius: 5px;
cursor: pointer;
  }

  .hovered {
    background-color: rgba(54, 54, 54, 0.2);
  }